body {
    background: blue
}
#titulo1 {
    text-align: center;
    font-size:50px;
    color: yellow;}
.p1 {
    text-align:justify;
    font-size: 20px;
    color:yellow;}

.p2 {
    text-align: justify;
    font-size: 20px;
    color:yellow;}
#img{
    display:block;
    margin: 0 auto;}
#titulo2 {
    text-align:center;
    font: size 40px;
    color:yellow;}
.ul{
    display: inline-block;
    vertical-align:top;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
}
#img2{
    width: 50%;
}      
header{
    text-align: center;
    font-size: 50px;
    color:yellow;
} 
.principal{
    background:blue;}
.beneficios{
    background: blue;}