body {
    background: brown
}
#titulo1 {
    text-align: center;
    font-size:50px;
    color: black;}
.p1 {
    text-align:justify;
    font-size: 20px;
    color:chocolate;}

.p2 {
    text-align: justify;
    font-size: 20px;
    color:darkgoldenrod;}
#img{
    display:block;
    margin: 0 auto;}
#titulo2 {
    text-align:center;
    font: size 40px;
    color:black;}
.ul{
    display: inline-block;
    vertical-align:top;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
}
#img2{
    width: 50%;
}      
header{
    text-align: center;
    font-size: 50px;
    color:blue;
} 
.principal{
    background:black;}
.beneficios{
    background: black;}